// Navigation code here


header{
    width: 100%;
    height: 90px;
    background: @nav-bg;
    
    nav {
        .center();
        margin-top: 2px;
        
        @media @mobile {
            display: flex;
            justify-content: center;
            
          }

        a {
            padding: 15px;
            font-size: 1.70rem;
            text-decoration: none;
            color: black;
            
        }
    }
    h1 {
        .center();
        padding-top: 10px;
    }

}
